body{
	font-family: 'Helvetica', sans-serif;
	background: #800000;
}

h1{
	color: green;
	letter-spacing: 10px;
}

h2{
	color: blue;
}
h3{
	color: yellow
}

p{
	font-family: 'Arial', sans-serif;
	text-indent: 15px;
}
table{
	background-color: #FFC125;
	border: 15px solid #CD5700;

}

td{
	background-color: #964B00;
	border: 5px solid black;
}

td:nth-child(1){ 
	background-color: #CC5D2B	;
}

td:nth-child(3){
	background-color: #C04000	;
	color: white;

}

thead{
	background-color: black;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
}

tfoot{
	background-color: brown;
	font-size: 20px;
}

ol{
	list-style-type: upper-roman;
}

ol ol{
	list-style-type: lower-roman;
}

ol ol ol{
	list-style-type: lower-greek;
}

#Doge{
	float: left;
	width: 800px;
	height: 500px;

}

#Doge2{
	float: right;
    width: 800px;
	height: 500px;
}

#Ukryte_Menu{
	display: none;
}

#Spis_treści{
	list-style-type: none;
	background-color: #FC0300;
	position: static; 
	width: 100%;
	padding: 5px;
	border: 10px solid #000;
	text-align: center;	
    float: none;
}

#Spis_treści ul li {
	display: inline-block;
	padding: 5px;
	background-color: #FA8072;
	border-color: #B22222;
	border-collapse: separate;
	border-style: solid;
	margin-left: -20px;
	margin-right: 20px;
}

#Treść{
	position: relative;
	background-color: #CF2F2F;
	padding: 5px;
	border: 10px solid #000;
	width: 100%;
    margin-left:0px;
    max-width: 100%;
}

#Tytuł{
	font-size: 30px;
	background-color: #DC143C;
	width: 100%;
	text-align: center;
	white-space: nowrap;
}

p:first-letter {
	color: #801818;
	font-size: 20px;
	font-style: italic;
}

a:hover{
	color:#FC0300	;
	cursor:default;
}
